<article class="card mx-1 my-2">
    <div class="card-header">
        {{title}} by {{user.username}} on {{format_Date created_at}} <br>
        <a href="/post/{{id}}" class="text-muted"> Comments </a>
    </div>
    <div class="card-body">
        <p> {{post_content}} </p>
    </div>
</article>