<article>
    <div>
        <a href="{{post_url}}" target="_blank"> {{title}} </a>
        <span> ({{post_url}}) </span>
    </div>
    <div>
        by {{user.username}} on {{created_at}}
        <a href="/post/{{id}}"> {{comments.length}} </a>
    </div>
</article>